<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href = {{ url_for('static', filename='/css/style.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="heading">Sudoku Solver</h1>
    <div class="sheet">
        <div class="childsheet" >
            <div class="rowsheet" id="one">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r1" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r2" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r3" value = {{predicted_array[0]}}>
                </div>
            </div>

        </div>
        <div class="childsheet">
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r4" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r5" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r6" value = {{predicted_array[0]}}>
                </div>
            </div>

        </div>
        <div class="childsheet">
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} value = {{predicted_array[0]}}>
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}} >
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} >
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}} >
                </div>
            </div>
            <div class="rowsheet">
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r7" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r8" value = {{predicted_array[0]}}>
                </div>
                <div class="rows">
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}}>
                    <input type="number" name="" id="" min="1" max="9" class="cols r9" value = {{predicted_array[0]}}>
                </div>
            </div>

        </div>

    </div>
        <div class="btn" id="btn">
            
            <button class="button" id="reset" onclick="functionn">Reset</button>
            <button class="button" id="button" onclick="functionn">Calculate</button>
            <!-- <button class="button" id="capture">photo</button> -->
        </div>
    <form action="/again" method="post" class="btn" id="btn" enctype="multipart/form-data">
        <input type="file" name="sudoku" id="capture" accept="image/*" class="button" style="width: auto;">
        <input type="submit" value="Upload" class="button" style="width:fit-content;">
    </form>
    <form id="frame">
    </div>
    <form action="" method="post"></form>
    
    <div id="photos">

    </div>

    <!-- <form action="/again" method="post" id="form">
        <input type="image" src="{{ url_for('static', filename='pic.jpg')}}" alt="placeholder " name="sudoku">
        <input type="submit" value="submit">
    </form> -->

    <div class="messege">
        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js" integrity="sha512-dQIiHSl2hr3NWKKLycPndtpbh5iaHLo6MwrXm7F0FM5e+kL2U16oE9uIwPHUl6fQBeCthiEuV/rzP3MiAB8Vfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type = "text/javascript" src = {{ url_for('static', filename='/js/javascript.js' ) }}>
</script>

</html>